<div class="container">
  <h1>Menu</h1>
  <br>
  <table>
    <thead>
      <tr>
        <th>Days</th>
        <th>First Course</th>
        <th>First Course Calorie</th>
        <th>Second Course</th>
        <th>Second Course Calorie</th>
        <th>Side Dish</th>
        <th>Side Dish Calorie</th>
        <th>Desserts</th>
        <th>Desserts Calorie</th>
        <th>Bread</th>
        <th>Bread Calorie</th>
        <th>Total Calorie</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.date %></td>
          <td><%= food.firstCourse %></td>
          <td><%= food.firstCourseCalorie %></td>
          <td><%= food.secondCourse %></td>
          <td><%= food.secondCourseCalorie %></td>
          <td><%= food.sideDish %></td>
          <td><%= food.sideDishCalorie %></td>
          <td><%= food.dessert %></td>
          <td><%= food.dessertCalorie %></td>
          <td><%= food.bread %></td>
          <td><%= food.breadCalorie %></td>
          <td><%= food.total %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
